<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Jovian Carres</title>
    <style>
      #banner {
        height: 360px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container" >
     <h1 class="text-center">{{company_name}} Careers</h1>
    <img class="img-fluid" id="banner" src="https://jovian-careers-webside.herrwinnefeld.repl.co/static/banner2.jpg">
    <h2 class="text-center">About Jovian</h2>
     
      
      
      <div class="row" style="margin-bottom:16px;">
        
    <div class="col-md-6">
    <p class="lead">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    </div>
        <div class="d-none d-md-block col-md-6">
<img src="static/people.jpg" style="height:320px;border-radius:4px"
  </div>
        </div>
    <h2 class="text-center mt-2 mb-4">Job Openings</h2>
  
    <p>
      {% for job in jobs%} 
        {% include 'jobitem.html' %}
      {% endfor %}
    </p>
      <div class="text-center" >
        <a class="btn btn-primary btn-lg" href=" mailto:mwinnefeld@web.de?subject=Kontakt&body=Hallo%20ich%20m%C3%B6chte%20Kontakt%20mit%20ihnen%20aufnehmen.%20Diesen%20Link%20habe%20ich%20auf%20der%20Jovian%20Seite%20gefunden. ">contact us</a>
      
        </div>
      </div>
      {% include 'footer.html' %}
  </body>
</html>